<div>
    <h3>Select Your Tarot</h3>
    <div class="flexrow">
        <div>
            <select id="tarot">
                {{selectOptions tarots}}
            </select>
        </div>
        <div>
            This is where we'd have an image/descriptor. Do that later.
        </div>
    </div>
</div>