<div id="session_handler">
    <div>
        <label id="session_stage">Stage: {{sessionStage}}</label> <a class="sessionToggle"><i class="fa fa-right"></i></a>
    </div>
    <div>
        Settings <a class="editPlayers"><i class="fa fa-gear"></i></a>
    </div>
</div>